{% extends 'pos/home.html' %}

{% block title %}Invoice Created{% endblock title %}

{% block head %}
<script src="http://code.jquery.com/jquery-1.11.3.min.js"></script>

<style>
    body{margin-top:20px;
        color: #2e323c;
        background: #f5f6fa;
        position: relative;
        height: 100%;
    }
    .invoice-container {
        padding: 1rem;
    }
    .invoice-container .invoice-header .invoice-logo {
        margin: 0.8rem 0 0 0;
        display: inline-block;
        font-size: 1.6rem;
        font-weight: 700;
        color: #2e323c;
    }
    .invoice-container .invoice-header .invoice-logo img {
        max-width: 130px;
    }
    .invoice-container .invoice-header address {
        font-size: 0.8rem;
        color: #9fa8b9;
        margin: 0;
    }
    .invoice-container .invoice-details {
        margin: 1rem 0 0 0;
        padding: 1rem;
        line-height: 180%;
        background: #f5f6fa;
    }
    .invoice-container .invoice-details .invoice-num {
        text-align: right;
        font-size: 0.8rem;
    }
    .invoice-container .invoice-body {
        padding: 1rem 0 0 0;
    }
    .invoice-container .invoice-footer {
        text-align: center;
        font-size: 0.7rem;
        margin: 5px 0 0 0;
    }
    
    .invoice-status {
        text-align: center;
        padding: 1rem;
        background: #ffffff;
        -webkit-border-radius: 4px;
        -moz-border-radius: 4px;
        border-radius: 4px;
        margin-bottom: 1rem;
    }
    .invoice-status h2.status {
        margin: 0 0 0.8rem 0;
    }
    .invoice-status h5.status-title {
        margin: 0 0 0.8rem 0;
        color: #9fa8b9;
    }
    .invoice-status p.status-type {
        margin: 0.5rem 0 0 0;
        padding: 0;
        line-height: 150%;
    }
    .invoice-status i {
        font-size: 1.5rem;
        margin: 0 0 1rem 0;
        display: inline-block;
        padding: 1rem;
        background: #f5f6fa;
        -webkit-border-radius: 50px;
        -moz-border-radius: 50px;
        border-radius: 50px;
    }
    .invoice-status .badge {
        text-transform: uppercase;
    }
    
    @media (max-width: 767px) {
        .invoice-container {
            padding: 1rem;
        }
    }
    
    
    .custom-table {
        border: 1px solid #e0e3ec;
    }
    .custom-table thead {
        background: #007ae1;
    }
    .custom-table thead th {
        border: 0;
        color: #ffffff;
    }
    .custom-table > tbody tr:hover {
        background: #fafafa;
    }
    .custom-table > tbody tr:nth-of-type(even) {
        background-color: #ffffff;
    }
    .custom-table > tbody td {
        border: 1px solid #e6e9f0;
    }
    
    
    .card {
        background: #ffffff;
        -webkit-border-radius: 5px;
        -moz-border-radius: 5px;
        border-radius: 5px;
        border: 0;
        margin-bottom: 1rem;
    }
    
    .text-success {
        color: #00bb42 !important;
    }
    
    .text-muted {
        color: #9fa8b9 !important;
    }
    
    .custom-actions-btns {
        margin: auto;
        display: flex;
        justify-content: flex-end;
    }
    
    .custom-actions-btns .btn {
        margin: .3rem 0 .3rem .3rem;
    }

</style>

{% endblock head %}



{% block content %}

    

<div class="container">
    <div class="row gutters">
            <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
                <div class="card">
                    <div class="card-body p-0">
                        <div class="invoice-container">
                            <div class="invoice-header">
                                <!-- Row start -->
                                <div class="row gutters">
                                    <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12">
                                        <div class="custom-actions-btns mb-5">
                                            {% comment %} <a href="#" class="btn btn-primary">
                                                <i class="icon-download"></i> Download
                                            </a> {% endcomment %}
                                            {% comment %} <a href="#" class="btn btn-secondary" id="btn-print">
                                                <i class="icon-printer"></i> Print
                                            </a> {% endcomment %}
                                            <input
                                            type="button"
                                            class="btn btn-secondary"
                                            id="btn-print"
                                            value="Print"
                                            onclick="window.print();return false;"
                                          />
                                        </div>
                                    </div>
                                </div>
                                <!-- Row end -->
                                <!-- Row start -->
                                {% comment %} <div class="row gutters">
                                    <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6">
                                        <a href="index.html" class="invoice-logo">
                                            Maxwell
                                        </a>
                                    </div>
                                    <div class="col-lg-6 col-md-6 col-sm-6">
                                        <address class="text-right">
                                            Maxwell admin Inc, 45 NorthWest Street.<br>
                                            Sunrise Blvd, San Francisco.<br>
                                            00000 00000
                                        </address>
                                    </div>
                                </div> {% endcomment %}
                                <!-- Row end -->
                                <!-- Row start -->
                                <div class="row gutters">
                                    {% comment %} <div class="col-xl-9 col-lg-9 col-md-12 col-sm-12 col-12">
                                        <div class="invoice-details">
                                            <address>
                                                Alex Maxwell<br>
                                                150-600 Church Street, Florida, USA
                                            </address>
                                        </div>
                                    </div> {% endcomment %}
                                    <div class="col-xl-12 col-lg-3 col-md-12 col-sm-12 col-12">
                                        <div class="invoice-details">
                                            <div class="invoice-num">
                                                <div>{{transactions.transaction_id}}</div>
                                                <div>January 10th 2022</div>
                                            </div>
                                        </div>													
                                    </div>
                                </div>
                                <!-- Row end -->
                            </div>
                            <div class="invoice-body">
                                <!-- Row start -->
                                <div class="row gutters">
                                    <div class="col-lg-12 col-md-12 col-sm-12">
                                        <div class="table-responsive">
                                            <table class="table custom-table m-0" id="myTable">
                                                <thead>
                                                    <tr>
                                                        <th>Items</th>
                                                        <th>Product ID</th>
                                                        <th>Quantity</th>
                                                        <th>Sub Total</th>
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                    <!-- <tr>
                                                        <td>{{name_list.0}}</td>
                                                        <td>#50000981</td>
                                                        <td>9</td>
                                                        <td>$5000.00</td>
                                                    </tr>
                                                     -->
                                                    <tr>
                                                        <!-- <td>&nbsp;</td>
                                                        <td colspan="2">
                                                            
                                                            <h5 class="text-success"><strong>Grand Total</strong></h5>
                                                        </td>			
                                                        <td>
                                                            
                                                            <h5 class="text-success"><strong>$5150.99</strong></h5>
                                                        </td> -->
                                                    </tr>
                                                </tbody>
                                            </table>
                                        </div>
                                    </div>
                                </div>
                                <!-- Row end -->
                            </div>
                            <div class="invoice-footer">
                                Thank you for your Business.
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>


<script>
    $( document ).ready(function() {

        var table = document.getElementById("myTable");

        
            var row = table.insertRow();

            var cell0 = row.insertCell(0);
            
            
            get_product_names = "{{transactions.transaction_products_name}}";
            
            var nameArr = get_product_names.split(',');

            

            for (var j = 0; j < nameArr.length; j++) {
              var nested_row = document.createElement("tr");
              var cell = document.createElement("td");
              
              var cellText = document.createTextNode(nameArr[j]);
              cell.appendChild(cellText);
              nested_row.appendChild(cell);
              cell0.appendChild(nested_row);
            }



            var cell1 = row.insertCell(1);
          
            get_product_id = "{{transactions.transaction_products_id}}";
            nameArr = get_product_id.split(',');

            console.log({{transaction.transaction_products_id}})

            for (var j = 0; j < nameArr.length; j++) {
              nested_row = document.createElement("tr");
              cell = document.createElement("td");
              
              cellText = document.createTextNode(nameArr[j]);
              cell.appendChild(cellText);
              nested_row.appendChild(cell);
              cell1.appendChild(nested_row);
            }



            var cell2 = row.insertCell(2);
          
            get_product_quantity = "{{transactions.transaction_products_quantity}}";
            nameArr = get_product_quantity.split(',');

            for (var j = 0; j < nameArr.length; j++) {
              nested_row = document.createElement("tr");
              cell = document.createElement("td");
              
              cellText = document.createTextNode(nameArr[j]);
              cell.appendChild(cellText);
              nested_row.appendChild(cell);
              cell2.appendChild(nested_row);
            }


            var cell3 = row.insertCell(3);
        
            get_product_price = "{{transactions.transaction_products_price}}";
            nameArr = get_product_price.split(',');

            for (var j = 0; j < nameArr.length; j++) {
              nested_row = document.createElement("tr");
              cell = document.createElement("td");
              
              cellText = document.createTextNode(nameArr[j]);
              cell.appendChild(cellText);
              nested_row.appendChild(cell);
              cell3.appendChild(nested_row);
            }

            var rowend = table.insertRow();
            var cellend = document.createElement("td");
            var h5end = document.createElement("h5");

            cellText = document.createTextNode("Grand Total");

            h5end.setAttribute("class","text-success");
            cellend.setAttribute("colspan","2");

            h5end.appendChild(cellText);
            cellend.appendChild(h5end);
            rowend.appendChild(cellend);



            cellend = document.createElement("td");
            h5end = document.createElement("h5");

            cellText = document.createTextNode({{transactions.transaction_totalamount}});

            h5end.setAttribute("class","text-success");
            cellend.setAttribute("colspan","2");

            h5end.appendChild(cellText);
            cellend.appendChild(h5end);
            rowend.appendChild(cellend);

            //cellend.setAttribute("class","btn btn-danger btn-sm btn-del");
            //colspan="2"
            //var cell4 = row.insertCell(4);
            //cell4.innerHTML = {{transactions.transaction_totalamount}}
        
        
            
        
        
      });

        
    
</script>


{% endblock content %}