{% extends 'pos/home.html' %}

{% block title %}User Configuration{% endblock title %}

{% block head %}
    <script src="http://code.jquery.com/jquery-1.11.3.min.js"></script> 
    <script src="https://cdn.datatables.net/1.11.3/js/jquery.dataTables.min.js"></script>
    <script src="https://cdn.datatables.net/1.11.3/js/dataTables.bootstrap5.min.js"></script>
{% endblock head %}

{% block content %}

 
<h1 class="text-center mt-4">User Configuration</h1>
<div class="card-body">
<table class="table table-hover" id="datatablesSimple">
            <thead>
                
                <th>User Name</th>
                <th>First Name</th>
                <th>Last Name</th>
                <th>Edit</th>
                <th>Delete</th>
             </thead>
   <tbody>
   {% for user in users %}  
    <tr>  
     
     <td>{{ user.username }}</td>  
     <td>{{ user.first_name }}</td>  
     <td>{{ user.last_name }}</td>
     <!-- <a href="/edit/{{ user.username }}" >Edit</a> -->
     <td><p data-placement="top" data-toggle="tooltip" title="Edit"><a href="/edit/{{ user.username }}" class="btn btn-primary btn-xs" >Edit</a></p></td>
     <td><p data-placement="top" data-toggle="tooltip" title="Edit"><a href="/delete/{{ user.username }}" class="btn btn-danger btn-xs" >Delete</a></p></td>

     <!-- <td><p data-placement="top" data-toggle="tooltip" title="Delete"><a href="/delete/{{ user.username }}" class="btn btn-danger btn-xs" data-title="Delete" data-toggle="modal" data-target="#delete" >Delete<span class="glyphicon glyphicon-trash"></span></a></p></td>   -->
    </tr>  
   {% endfor %} 
   </tbody>
         
  </table>
  <span><a href="{% url 'register' %}" class="btn btn-primary">Add New User</a></span>
  {% if messages %}
{% for message in messages %}
<div class="container-fluid p-0">
  <div class="alert {{ message.tags }} alert-dismissible" role="alert" >
    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
      <span aria-hidden="true">×</span>
    </button>
    {{ message }}
  </div>
</div>
{% endfor %}
{% endif %}	
</div>
 
        </div>
    

    <script>

    </script>
{% endblock content %}



